<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	colors="false"
	bootstrap="bootstrap.php">
	<logging>
		<log type="coverage-html" target="coverage/html" />
	</logging>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">../src</directory>
		</whitelist>
	</filter>
</phpunit>
